# --- Python ---
__pycache__
*.py[cod]
*$py.class

# --- Django ---
*.log
db.sqlite3
db.sqlite3-journal

# Pasta de uploads de usuários (não versionar conteúdo de teste)
media/

# Pasta de arquivos estáticos coletados (gerado pelo collectstatic)
staticfiles/

# --- Segurança ---
# Arquivos que guardam senhas e chaves secretas
.env
.env.local

# --- Ambientes Virtuais ---
venv/
.venv/
env/
myenv/

# --- IDEs e Sistema Operacional ---
.vscode/
.idea/
.DS_Store
Thumbs.db

.github